<footer class="container footer-expand-md">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://twitter.com/yaleman43381258">@yaleman43381258</a></li>
      <li class="list-inline-item">Powered by <a href="https://github.com/yaleman/memes-api">yaleman/memes-api</a>.</li>
      <li class="list-inline-item">Something broken, or a problem? <a href="https://github.com/yaleman/memes-api/issues/new"> Please log an issue</a>.</li>
      <li class="list-inline-item">Memes liberated from everywhere.</li>
    </ul>
  </footer>