<footer class="container footer-expand-md">
    <ul class="list-inline">
      {% if twitter_handle %}<li class="list-inline-item"><a href="https://twitter.com/{{twitter_handle}}">@{{twitter_handle}}</a></li>{% endif %}
      <li class="list-inline-item">Powered by <a href="https://github.com/yaleman/memes-api">yaleman/memes-api</a>.</li>
      <li class="list-inline-item">Something broken, or a problem? <a href="https://github.com/yaleman/memes-api/issues/new"> Please log an issue</a>.</li>
      <li class="list-inline-item">Memes liberated from everywhere.</li>
    </ul>
  </footer>