{% extends "basetemplate.html" %}

{% block content %}

    <template v-for="image in paginatedImages" :key="image">
    <a :href="'/image_info/'+image" >
        <div class="imagebox">
            <img :src="'/thumbnail/'+image" :title=image :alt=image class="imagebox"/>
        </div>
    </a>
    </template>

    <div id="app">
        <paginate
          :page-count="pageCount"
          :container-class="'pagination'"
          :prev-text="'<<'"
          :next-text="'>>'"
          :initial-page="currentPage"
          :click-handler="clickCallback"
        >
        </paginate>
      </div>

<div class="container">

    <div class="row">
        <div class="col">
        Currently displaying |count_filteredImages| out of |totalImages| total images.
        </div>
    </div>
</div>

{% endblock content %}