{% extends "basetemplate.html" %}

{% block content %}

<!-- <div class="d-flex-inline align-items-start flex-column mb-0 p-0"> -->
    <template v-for="image in filteredImages" :key="image">
    <a :href="'/image_info/'+image" >
        <div class="imagebox">
            <img :src="'/thumbnail/'+image" :title=image :alt=image class="imagebox"/>
        </div>
    </a>
    </template>

<div class="container">

    <div class="row">
        <div class="col">
        Currently displaying |count_filteredImages| out of |totalImages| total images.
        </div>
    </div>
</div>
{% endblock content %}