<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/images/icon.svg" alt="Memes!" width="30" height="24" class="d-inline-block align-text-top">
        Memes!</a>
      {% if enable_search %}
      <div class=" .align-self-end" id="navbarCollapse">
        <form class="d-flex">
          <input class="form-control me-2" type="search" id="search_box" v-model="search_box" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" @click="resetform">X</button>
        </form>
      </div>
        {% endif %}
    </div>
  </nav>
</header>