{% extends "basetemplate.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <h3>{{image}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col form-group">
        <label for="direct_link">Direct Link</label>
        <input type="text"  class="form-control" id="direct_link" value="{{baseurl}}/image/{{image|replace(" ","%20")}}" disabled="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <label for="markdown_big">Markdown full size</label>
        <input type="text" id="markdown_big"  class="form-control" value="![}({{baseurl}}/image/{{image|replace(" ","%20")}})" disabled="true"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <img alt="{{image}}" title="{{image}}" src="{{baseurl}}/image/{{image|replace(" ","%20")}}" />
        </div>
    </div>
</div>
{% endblock content %}